/*companies*/

#post-grid .button-add a{
    color: white;
    text-decoration: none;
}
#post-grid .company-visible .visible-label{
    background-color: green;
}
#post-grid .company-visible .invisible-label{
    background-color: darkred;
}
#post-grid .company-visible{
    text-align:center;
    vertical-align: middle;
}
#post-grid .table-company > tbody > tr > td{
    vertical-align: middle;
}
#post-grid .message-ok,
.site-settings .message-ok{
    color: #03bf03;
}
#post-grid .message-error,
.site-settings .message-error{
    color: red;
}
#post-grid .table-company > tbody > tr{
    border-left: 1px solid #dddddd;
}
#post-grid .table-company > tbody:last-child{
    border-bottom: 1px solid #dddddd;
}
.company .table-company tr,
.company .table-company td{
    border: none;
}
#post-grid .table-company .company-td-url{
    min-width: 100px;
    max-width: 300px;
    word-wrap: break-word;
}
#post-grid,
#post-grid-pjax{
    overflow: auto;
}

/*--------end companyes---------------*/


/*--------Statistic-------------*/
.site-settings .button-ok,
.statistic .button-ok{
    margin-left: 20px;
    margin-top: 20px;
}
.statistic .message-region.attention,
.statistic .message-polis.attention,
#container-diagram.attention h4,
#container-diagram-dynamic.attention h4{
    color: red;
}
#container-diagram{
    min-width: 310px;
    max-width: 800px;
    min-height: 800px;
    margin: 30px;
}
#container-diagram-dynamic{
    min-width: 310px;
    max-width: 800px;
    min-height: 500px;
    margin: 30px;
}
.statistic .header-items{
    width: 70px;
    display: inline-block;
}
.statistic .region-company{
    width: 50%;
}
@media (max-width: 930px) {
    .statistic .region-company{
        width: 90%;
    }
    #container-diagram{
        margin: 30px 5px 30px 5px;
    }
    #container-diagram-dynamic{
        margin: 30px 5px 30px 5px;
    }
}
/*----------end Statistic----------*/



/*--------Settings-------------*/

.site-settings .on-off-site,
.site-settings .on-off-polis,
.site-settings .social-networks,
.statistic .statistic-polis,
.statistic .region-company,
.statistic .period{
    margin: 20px 20px;
}
.site-settings .on-off-site h4,
.site-settings .on-off-polis h4,
.site-settings .social-networks h4,
.statistic .statistic-polis-header,
.statistic .statistic-polis h4,
.statistic .region-company h4,
.statistic .period h4{
    color: black;
}
.site-settings .checkbox,
.statistic .checkbox,
.period .statistic-items-period{
    padding-top: 5px;
}
.statistic .statistic-items-body .checkbox{
    padding-right: 20px;
}
.site-settings .input-sm{
    width: 100px;
}
.statistic .statistic-items-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*--------end Settings-----------*/