body {
    min-height: 100vh;
}

.flex-grow {
    flex: 1;
}

.red {
    color: #F22031;
    /*color: rgb(242, 32, 49);*/
}

.bg-red {
    background-color: #F22031;
}

footer .nav-link {
    color: white;
}

footer .small .nav-link {
    color: white;
    padding: 0.5rem 0.5rem;
}

.header-home-bg {
    background-image: url("../images/home-baner.png");
}

@media (min-height: 768px) {
    .header-home-bg {
        border-bottom-left-radius: 100% 10%;
        border-bottom-right-radius: 100% 10%;
    }
}

.slogan {
    color: white;
    font-size: 3rem;
}

@media (max-width: 576px) {
    .slogan {
        font-size: 1rem;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .slogan {
        font-size: 2rem;
    }
}

#header-home-bg {
    position: fixed;
    /*top: 50%;*/
    left: 50%;
    min-width: 100%;
    /*min-height: 100%;*/
    width: auto;
    /*height: auto;*/
    height: 1500px;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/home-baner.png") no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
}

.card {
    background-color: rgba(255, 255, 255, 0);
}

.header .card-body {
    border-bottom: #F22031 solid 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.header .card-footer {
    background-color: #F22031;
    color: #ffffff;
}

.card .card-images {
    height: 120px;
}

.header li.media {
    font-size: 1rem;
    color: #F22031;
    background-color: rgba(255, 255, 255, 0.7);
}

.vl-white {
    border-left: 4px dotted #ffffff;
    height: 50px;
    left: -2px;
}

.vl-red {
    border-left: 4px dotted #F22031;
    height: 100px;
    left: -2px;
}

.content-bg {
    background-image: url("../images/background.png");
}

.font-size-3 {
    font-size: 3rem;
}

@media (max-width: 992px) {
    .font-size-3 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .top-to-bottom {
        border-width: 1px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(134, 142, 150, 0.7)), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(top, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(top, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(to bottom, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to bottom, rgba(134, 142, 150, 0.5) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
    }

    .top-to-bottom-70 {
        border-width: 1px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(134, 142, 150, 0.7)), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(top, rgba(134, 142, 150, 0.7) 70%, rgba(134, 142, 150, 0) 70%, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(top, rgba(134, 142, 150, 0.7) 70%, rgba(134, 142, 150, 0) 70%, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(to bottom, rgba(134, 142, 150, 0.7) 70%, rgba(134, 142, 150, 0) 70%, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to bottom, rgba(134, 142, 150, 0.5) 70%, rgba(134, 142, 150, 0) 70%, rgba(0, 0, 0, 0)) 1 100%;
    }

    .bottom-to-top {
        border-width: 1px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(134, 142, 150, 0.7))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(bottom, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(bottom, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(to top, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to top, rgba(134, 142, 150, 0.5) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 1 100%;
    }

    .left-to-right {
        border-width: 1px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(134, 142, 150, 0.7)), to(rgba(0, 0, 0, 0))) 100% 1;
        -webkit-border-image: -webkit-linear-gradient(left, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
        -moz-border-image: -moz-linear-gradient(left, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
        -o-border-image: -o-linear-gradient(to right, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
        border-image: linear-gradient(to right, rgba(134, 142, 150, 0.5) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
    }

    .right-to-left {
        border-width: 1px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(134, 142, 150, 0.7))) 100% 1;
        -webkit-border-image: -webkit-linear-gradient(right, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
        -moz-border-image: -moz-linear-gradient(right, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
        -o-border-image: -o-linear-gradient(to left, rgba(134, 142, 150, 0.7) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
        border-image: linear-gradient(to left, rgba(134, 142, 150, 0.5) 90%, rgba(134, 142, 150, 0) 90%, rgba(0, 0, 0, 0)) 100% 1;
    }
}

.header-form-bg {
    background-image: url('../images/form-baner.png');
    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
}

.header .search-form {
    border-radius: 15px 15px;
    background-color: rgba(245, 245, 245, 0.9);
}

.search-form select {
    background: url(../images/arrow-red.png) no-repeat 97% center;
    /*height: 34px;*/
    /*width: 240px;*/
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
}

.search-form label {
    width: 100%;
}

.search-form .datepicker {
    background: url(../images/calendar-icon.png) no-repeat 96% center;
}

#birthdays {
    padding-left: 80px;
}

#add-user {
    margin-top: -96px;
}

.btn-red {
    color: #fff;
    background-color: rgb(242, 32, 49);
    border-bottom: solid 5px #7B000B;
}

.btn-red:hover {
    color: #fff;
    background-color: rgba(242, 32, 49, 0.7);
    border-bottom: 5px solid #7B000B;
}

.hr-half-red {
    width: 50%;
    border-top: 1px solid #F22031;
}

a {
    color: #7B000B;
    text-decoration: underline;
}

a:hover {
    color: #F22031;
    text-decoration: none;
}

input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.result-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
}

.result-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.result-radio .result-control-input:checked ~ .result-control-indicator {
    background-color: #F22031;
}

.result-control-input:checked ~ .result-control-indicator {
    color: white;
    background-color: #F22031;
}

.result-radio .result-control-indicator {
    border: 2px solid gray;
    border-radius: 50%;
}

.result-control-indicator {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F8F9FA;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/*   Nav Menu     */
.nav-menu-header{
    flex-direction: row;
    width: 650px;
    margin: auto;
}
#collapsingNavbar3{
    flex-basis: 70%;
}
.navbar .button-header{
    margin-left: 10px;
}
.footer-nav{
    font-size: 14px;
}

@media(max-width: 1200px) {
    .footer-nav .nav-link {
        padding: 0.5rem 6px;
    }
}
/*---end Nav Menu-----*/

/*    Footer     */
.fa-facebook-official, .fa-vk, .fa-envelope-open{
    color: white;
    font-size:26px;
    padding-left: 8px;
}
/*------end Footer------*/

/*   index       */
@media(max-width: 768px){
    .item-polis{
        height: 90px;
    }
}
/*----end index----*/

/*   osago-form   */
.radio_buttons,  .radio_buttons2{
//margin: 20px;
    font: 17px Tahoma;
}
.radio_buttons div, .radio_buttons2 div  {
    float: left;
}
.radio_buttons input, .radio_buttons2 input  {
    position: absolute;
    left: -9999px;
}
.radio_buttons label, .radio_buttons2 label {
    display: block;
    margin: 0 0 0 -1px;
    padding: 8px 10px;
    border: 1px solid #BBBBBB;
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
.radio_buttons input:checked + label,
.radio_buttons2 input:checked + label{
    background: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
}
.radio_buttons div:first-child label,
.radio_buttons2 div:first-child label{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radio_buttons div:last-child label,
.radio_buttons2 div:last-child label{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.radio_buttons .button-age,
.radio_buttons2 .button-age{
    width: 150px;
    height: 30px;
}
.min-experience{
    padding-top: 60px !important;
}
.button-osago .btn{
//width:250px;
    height: 100px;
    white-space: normal;
    margin-top: 70px;
}
#realty-form .help-block-error,
#kasko-form .help-block-error,
#osago-form .help-block-error,
#live-form .help-block-error,
#travel-form .help-block-error{
    color: red;
}
/*----end osago-form---*/

/*----osago list--------*/
.inactive-bloc{
    z-index: -1;
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}
.pagination li{
    padding-left: 6px;
}
.overlay-default {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(16,16,16,0.6);
    display: none;
}
.modal-form-overlay{
    z-index: 11;
}
.none{
    display: none;
}
.close-form-osago,
.close-form-travel,
.close-form-live,
.close-form-realty{
    display: none;
    cursor: pointer;
}
.form-osago-list #osagoform-power,
.form-osago-list #osagoform-region,
#liveform-pay_hospital,
#liveform-pay_surgery,
.form-live-list #liveform-age,
.form-live-list #liveform-summa{
    font-size: 14px;
}
.form-osago-list .radio_buttons .button-age,
.form-osago-list .radio_buttons2 .button-age{
    margin-top: 15px;
}
.form-osago-list .min-experience{
    margin-top: 70px !important
}
.form-osago-list #submit-1,
.form-osago-list #submit-2{
    padding-left: 0px;
    padding-right: 0px;
}
.form-osago-list #submit-1 button,
.form-osago-list #submit-2 button{
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
}
.form-osago-list .button-osago .btn{
    height: 65px;
    margin-top: 20px;
}
.form-osago-list .form-buttons{
    padding-top: 50px !important;
    margin-top: 50px;
}
.form-osago-list #osagoform-min_age,
.form-osago-list #osagoform-experience{
    margin-left: 20px;
}
.button-form-list{
    font-size: 14px;
    padding: 0.5rem 0.5rem;
}
.logo-form-list{
    width: 50px;
}
/*------end osago list ------*/